name: Build and Deploy to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push container image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Tag with the Commit SHA for versioning!
          tags: ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-backend:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          acrName: acrjorgedemo20250515
          containerAppName: app-fastapi-backend
          resourceGroup: rg-student-backend-norway
          imageToDeploy: ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-backend:${{ github.sha }}
